<div class="row">
    <form class="col s12" novalidate>
        <div class="row">
            <div class="input-field col s12">

                <input id="first_name" name="first-name" type="text" required >
                <label for="first_name">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="user-name" name="user-name" type="text" required>
                <label for="user-name">User Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" type="email" required>
                <label for="email">Email</label>
            </div>
        </div>
    </form>
</div>